<nav class="pagination" role="navigation">
  {{#if @paginator.prev}}
    <a class="newer-posts" href="{{fullpath @paginator.prev}}"><span aria-hidden="true">&larr;</span> Newer Posts</a>
  {{/if}}

  <span class="page-number">Page {{@paginator.page}} of {{@paginator.pages}}</span>

  {{#if @paginator.next}}
    <a class="older-posts" href="{{@paginator.next}}">Older Posts <span aria-hidden="true">&rarr;</span></a>
  {{/if}}
</nav>
